<header>
    <div class="navbar navbar-default">
        <div class="navbar-header">
            <div id="logo"><a class="btn" href="#"><h1>Your Welcome Space</h1></a></div>
            <button class="btn navbar-toggle" data-toggle="collapse"  data-target=".collapse">
                <span class="glyphicon glyphicon-chevron-down"></span>
            </button>
        </div>
        <div class="collapse navbar-collapse">
            <ul class="nav navbar-nav navbar-right">
                <li class="nav"><a class="btn  navWelcome" ng-if="!identity.isAuthenticated()"  ui-sref=".login" >LogIn</a></li>
                <li class="nav"><a class="btn  navWelcome" ng-if="!identity.isAuthenticated()"  ui-sref=".registration" >Sign Up</a></li>
                <li class="nav" ng-if="identity.isAuthenticated()" ng-click="identity.logout()"><a class="nav btn navWelcome"   >Logout</a></li>

            </ul>
        </div>

    </div>
</header>
<section class="container">

    <div class="jumbotron" id="welcome">
        <h1 ng-if="identity.isAuthenticated()">Hello {{identity.currentUser.userName}}</h1>
        <div ui-view></div>
    </div>
</section>
